name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  SAM_CLI_TELEMETRY: "0"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup AWS SAM
        uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2

      - name: Get AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ vars.ASSUME_ROLE_ARN }}
          role-session-name: ci
          aws-region: ${{ env.AWS_REGION }}

      - name: Validate template
        run: sam validate --lint

      - name: Cache SAM build
        id: cache-sam-build
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v3
        env:
          cache-name: cache-sam-build
        with:
          path: .aws-sam
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Run sam build
        run: sam build --use-container --cached --parallel

      - name: Run sam deploy
        run: |
          sam deploy \
            --capabilities CAPABILITY_IAM CAPABILITY_AUTO_EXPAND \
            --no-confirm-changeset \
            --on-failure DELETE \
            --no-fail-on-empty-changeset \
            --no-progressbar \
            --parameter-overrides "GitHubOrg=${{ github.repository_owner }} GitHubRepo=${{ github.repository }} GitSHA=${{ github.sha }}" \
            --role-arn ${{ vars.CF_ROLE_ARN }} \
            --stack-name "app-gha-aws-sam-poc" \
            --s3-bucket ${{ vars.ARTIFACT_BUCKET }} \
            --s3-prefix ${{ github.repository }} \
            --tags \
              github:org=${{ github.repository_owner }} \
              github:repo=${{ github.repository }} \
              git:sha=${{ github.sha }}
